body {
    font-family: 'Roboto Flex', sans-serif !important;
    color: #292e2e !important;
    font-size: 0.9rem !important;
    background-color: #eaedf7 !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 200;
}

a{ color: #5da004; text-decoration: none;}
a:hover{ color: orange; text-decoration: none;}
.footer_url{ color: #5da004; text-decoration: none;}
.footer_url:hover{ color: orange; text-decoration: none;}
.sidebar {
    background-color: #172b4d;
    width: 100%;
    min-height: 650px;
}

.logo img {
    max-width: 100%;
    height: 80px;
}
/* svg.nav_icons {
  color: #fff;
  font-size: .9rem;
  margin-right: 6%;
} */

ul {
    list-style-type: none;
    padding-left: 0;
}

.nav_items {
    margin-top: 5px;
}

.nav_items a.menu-title {
    color: #ffffff;
    padding: 8px 15px;
    display: block;
    border-radius: 5px;
    text-decoration: none;
}

.nav_items a.menu-title:hover,
.nav_items a.menu-title.active {
    background-color: orange;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
}

.nav_items p.menu-title {
    color: #ffffff;
    padding: 10px 15px;
    margin: 0;
    border-radius: 5px;
    text-decoration: none;
}

.nav_items p.menu-title:hover {
    cursor: pointer;
    background-color: orange;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.sub-menu {
    display: none;
    list-style: none;
    padding-left: 20px;
}

.sub-menu li a {
    color: #ffffff;
    padding: 5px 0;
    display: block;
    text-decoration: none;
}

.nav_items.active .sub-menu {
    display: block;
}

.sub-menu li a:hover {
    background-color: orange;
    color: #ffffff;
    border-radius: 5px;
}

.top-header {
    background-color: #fff;
    box-shadow: 0 0 19px 0 grey;
    display: flex;
    height: 50px;
    z-index: 5;
    align-items: center;
}

.company-name {
    font-size: 1.3rem;
    font-weight: 500;
    text-align: left;
    margin-left: 15px;
}

.btn-default {
    background-color: #172b4d !important;
    color: white !important;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    font-size: 0.9rem;
}

.btn-default:hover {
    background-color: orange !important;
    color: black !important;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.8rem 0;
  border-radius: 7px;
}

.main-content-title {
  color: #170c6b;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1;
  margin-bottom: 12px;
}

.page-header .breadcrumb {
  background: none;
  padding: 0;
  margin-bottom: 0;
}

.page-header .breadcrumb-item a {
  color: #8f9cc0;
}

.d-flex {
  display: flex !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}


.ledger-list a {
  display: block;
  color: #172b4d;
  padding: 3px 10px;
}

.ledger-list a:hover {
  background-color: #172b4d;
  color: #FFF;
  text-decoration: none;
}

.ledger-list a.active {
  background-color: #172b4d;
  color: #FFF;
}

.form-inline label {
  margin-right: 15px;
}

.form-inline .form-group {
  vertical-align:bottom;
}

.main-footer {
  background-color: #ffffff;
  margin-top: 0;
  padding: 15px;
  position: relative;
  bottom: 0;
  display: block;
  margin-top: auto;
}



.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: .175rem 2.25rem .175rem .75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #000;
  font-weight: normal;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #e8e8f7;
  border-radius: 3px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: 38px;
  border-radius: 5px;
}

.form-control:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(135, 96, 251, 0.25);
  border-color: #eeeef9;
  box-shadow: none;
}

.btn:focus {
  outline: 0;
  box-shadow: none;
}


.form-group label {
  font-size: 0.85rem;
}

.btn-cancel {
  background-color: #8f9cc0;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 5px;
  border: none;
  font-size: 0.9rem;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: dstretch;
  width: 100%;
}

.input-group-text {
    background-color: #f6f6ff;
    border: 1px solid #e8e8f7;
    border-right: none !important;
}

.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #3c4858;
  text-align: center;
  white-space: nowrap;
  background-color: #f6f6ff;
  border: 1px solid #e8e8f7;
  border-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  padding-top: 0;
  padding-bottom: 0;
}

.input-group > .form-control, .input-group > .form-control-plaintext, .input-group > .custom-select, .input-group > .custom-file {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}